{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Reviews</title>
    <link rel="stylesheet" href="{% static 'css/my_reviews.css' %}">
</head>
<body>

<div class="top-nav">
    <a href="/home/" class="nav-button">Home</a>
    <a href="{% url 'login:user-logout' %}" class="nav-button logout-button">Logout</a>
</div>
    
<h1>Your Reviews</h1>

{% if review_list %}
    {% for review in review_list %}
        <fieldset id="{{ review }}">
            <legend><h3>Review for <a id="details_link" href="{% url 'browse:room_details' building_name=review.room.building.name room_number=review.room.number %}">{{ review.room.building.name }} {{ review.room.display_room_number }}</a></h3></legend>
            <h4>Posted on {{ review.created_time.date }} at {{ review.created_time.time }}</h4>
            <div> <span class="star-rating" style="--rating: {{ review.rating }};"></span> </div> 
            <fieldset id="review_text">
                <legend><strong>Comments</strong></legend>
                <p>{{ review.text }}</p>
            </fieldset>
            <br>
            {% if review.images.all %}
                {% for image in review.images.all %}
                    <img src="{{ image.image_url.url }}" alt="Review Image" width="200">
                {% endfor %}
            {% else %}
                <p>No images to display</p>
            {% endif %}
            <br>
            <form action="{% url 'review:delete' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="review_id" value="{{ review.id }}">
                <button id="delete_review" type="submit">Delete this review</button>
            </form>
        </fieldset>
        <br>
    {% endfor %}
{% else %}
    <h3>No reviews to display</h3>
{% endif %}

</body>
</html>
