{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review a Room</title>
    <link rel="stylesheet" href="{% static 'css/review.css' %}">
</head>
<body>

<a href="/home/" class="back-home">Back to Home</a>
<h1>Review a Room</h1>

<label for="regions">Choose a region</label>
<form id="regions" action="{% url 'review:review' %}">
    <select name="region">
        {% if region_list %}
            {% for value, label in region_list %}
                <option value="{{ value }}" {% if value == selected_region %} selected {% endif %}>{{ label }}</option>
            {% endfor %}
        {% else %}
            <option value="">No buildings to display</option> 
        {% endif %}
    </select>
    <button type="submit">Next</button>
</form>

<br><br>

<label for="buildings" style={% if selected_region %} "display:block" {% else %} "display:none" {% endif %}>Choose a building</label>
<form id="buildings" action="{% url 'review:review' %}" style={% if selected_region %} "display:block" {% else %} "display:none" {% endif %}>
    <input type="hidden" name="region" value="{{ selected_region }}">
    <select name="building">
        {% if building_list %}
            {% for building in building_list %}
                <option value="{{ building.name }}" {% if building.name == selected_building %} selected {% endif %}>{{ building.display_building_name }}</option>
            {% endfor %}
        {% else %}
            <option value="">No buildings to display</option> 
        {% endif %}
    </select>
    <button type="submit">Next</button>
</form>

<br><br>

<label for="floors" style={% if selected_building %} "display:block" {% else %} "display:none" {% endif %}>Choose a floor</label>
<form id="floors" action="{% url 'review:review' %}" style={% if selected_building %} "display:block" {% else %} "display:none" {% endif %}>
    <input type="hidden" name="building" value="{{ selected_building }}">
    <input type="hidden" name="region" value="{{ selected_region }}">
    <select name="floor">
        {% if floor_list %}
            {% for value, label in floor_list %}
                <option value="{{ value }}" {% if value == selected_floor %} selected {% endif %}>{{ label }}</option>
            {% endfor %}
        {% else %}
            <option value="">No floors to display</option> 
        {% endif %}
    </select>
    <button type="submit">Next</button>
</form>

<br><br>

<label for="rooms" style={% if selected_floor or selected_floor == 0 %} "display:block" {% else %} "display:none" {% endif %}>Choose a room</label>
<form id="rooms" action="{% url 'review:review' %}" style={% if selected_floor or selected_floor == 0 %} "display:block" {% else %} "display:none" {% endif %}>
    <input type="hidden" name="building" value="{{ selected_building }}">
    <input type="hidden" name="region" value="{{ selected_region }}">
    <input type="hidden" name="floor" value="{{ selected_floor }}">
    <select name="room">
        {% if room_list %}
            {% for room in room_list %}
                <option value="{{ room.number }}" {% if room.number == selected_room %} selected {% endif %}>{{ room.number }}</option>
            {% endfor %}
        {% else %}
            <option value="none">No rooms to display</option> 
        {% endif %}
    </select>
    <button type="submit">Next</button>
</form>

<fieldset id="review" style={% if selected_room %} "display:block" {% else %} "display:none" {% endif %}>
    <form action="{% url 'review:add' building_name=selected_building room_number=selected_room %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>You are reviewing room {{ selected_room }} of {{ selected_building }} Hall</h2>
        <h3>Rating</h3>
        <fieldset class="rating">
            <input type="radio" id="1star5" name="rating" value="5" required />
            <label class="full" for="1star5" title="Awesome - 5 stars"></label>
            <input type="radio" id="1star4" name="rating" value="4" />
            <label class="full" for="1star4" title="Pretty good - 4 stars"></label>
            <input type="radio" id="1star3" name="rating" value="3" />
            <label class="full" for="1star3" title="Meh - 3 stars"></label>
            <input type="radio" id="1star2" name="rating" value="2" />
            <label class="full" for="1star2" title="Kinda bad - 2 stars"></label>
            <input type="radio" id="1star1" name="rating" value="1" />
            <label class="full" for="1star1" title="Sucks big time - 1 star"></label>
          </fieldset>
        <br>
        <h3>Review</h3>
        <textarea name="review_text" id="review_text" required></textarea>
        <h3>Pictures</h3>
        <input name="image" id="image" type="file" multiple>
        <br>
        <button type="submit">Submit</button>
    </form>
</fieldset>

</body>
</html>
