{% load static %}
<script src="{% static 'browse/update_rooms.js' %}"></script>


<h1>Browse Rooms</h1>

<select id="region">
    {% if region_list %}
        <option value="blank">NO SELECTION</option>
        {% for region in region_list %}
            <option value="{{ region }}">{{ region }}</option>
        {% endfor %}
    {% else %}
        <option value="none">No regions to display</option>
    {% endif %}
</select>

<br>

<select id="buildings" onchange="get_filter_options()">
    {% if building_list %}
        <option value="blank">NO SELECTION</option>
        {% for building in building_list %}
            <option value="{{ building.name }}">{{ building.name }}</option>
        {% endfor %}
    {% else %}
        <option value="none">No buildings to display</option>
    {% endif %}
</select>

<br>

<select id="floors">
    {% if floor_list %}
        <option value="blank">NO SELECTION</option>
        {% for floor in floor_list %}
            <option value="{{ floor }}">{{ floor }}</option>
        {% endfor %}
    {% else %}
        <option value="none">No floors to display</option>
    {% endif %}
</select>

<br>

<p id="message"></p>

<br>

{% if room_list %}
    <ul>
    {% for room in room_list %}
        <li><a href="/browse/{{ room.building.name }}/{{ room.floor }}/{{ room.number }}">{{ room.building.name }} {{ room.number }}</a></li>
    {% endfor %}
    </ul>
{% else %}
<p>No rooms are available</p>
{% endif %}

