{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GrinDorms Registration</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>

    <h1>GrinDorms Registration</h1>

    <p class="note">
        Please use your Grinnell email when creating an account. 
    </p>

    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{ registerform.as_p }}
        <input type="submit" value="Register"/>
        <br>
        <a href="{% url 'login:my-login' %}">Already have an account? Sign in here!</a>
    </form>

</body>
</html>
