<!-- {% load static %}
<script src="{% static 'browse/update_rooms.js' %}"></script> -->

<!-- <script>
    function get_filter_options(item) {
        const url = document.URL
        let new_url = url.slice(0, -1)
        if (new_url.slice(-4) == "none") {
            new_url = new_url.slice(0, -4)
        }
        new_url = new_url + item + "&"
        document.getElementById("message").innerText = new_url;
        
        fetch(new_url)
    }
</script> -->

<a href="/home/">Back to Home</a>
<h1>Browse Rooms</h1>

<fieldset>
<label>Regions</label>
<form id="filters" action="{% url 'browse:rooms' %}" method="get">
{% if region_list %}
    {% for region in region_list %}
        <label><input type="checkbox" name="region" value="{{ region }}" {% if region in selected_regions %} checked {% endif %}>{{ region }}</label>
        
    {% endfor %}
{% else %}
    <p value="none">No regions to display</p>
{% endif %}

<br><br>
<label>Buildings</label>
<br>
{% if building_list %}
    {% for building in building_list %}
        <label><input type="checkbox" name="building" value="{{ building.name }}" {% if building.name in selected_buildings %} checked {% endif %}>{{ building.name }}</label>
        
    {% endfor %}
{% else %}
    <p value="none">No buildings to display</p>
{% endif %}

<br><br>
<label>Floors</label>
<br>
{% if floor_list %}
    {% for floor in floor_list %}
        <label><input type="checkbox" name="floor" value="{{ floor }}" {% if floor in selected_floors %} checked {% endif %}>{{ floor }}</label>
        
    {% endfor %}
{% else %}
    <p value="none">No floors to display</p>
{% endif %}
<br>
<button type="submit">Apply Filters</button>
</form>
</fieldset>

<h2>Available Rooms</h2>

{% if room_list %}
    <ul>
    {% for room in room_list %}
        <li><a href="/browse/{{ room.building.name }}/{{ room.floor }}/{{ room.number }}">{{ room.building.name }} {{ room.number }}</a></li>
    {% endfor %}
    </ul>
{% else %}
<p>No rooms are available</p>
{% endif %}

