{% load static %}
<link rel="stylesheet" href="{% static 'css/room_details.css' %}">



<a href="/home/">Back to Home</a>
<br>
<a href="/browse/">Back to Browse</a>
<div class="logout-top">
    <a href="{% url 'login:user-logout' %}" class="logout-button">Logout</a>
</div>

<a href="/home/">Home</a>
<br>
<a href="/browse/">Browse Rooms</a>
<h1>{{ room.building.name }} {{ room.number }}</h1>
<a href="/review?building={{room.building.name}}&floor={{room.floor}}&room={{room.number}}">Review This Room</a>

<fieldset>
    <legend><h2>Details</h2></legend>
    Average Rating: {% if room.avg_rating %} {{ room.avg_rating }} {% else %} No reviews yet {% endif %}
    <br>
    Building: {{ room.building.name }} Hall
    <br>
    Campus Region: {{ room.building.region }}
    <br>
    Floor in building: {% if room.floor %} {{ room.floor }} {% else %} Pit {% endif %}
</fieldset>

<br><br>



<h1>{{ room.building.name }} {{ room.number }} </h1> 
    
<h6>
    Building: {{ room.building.name }} Hall |
    Campus Region: {{ room.building.region }} |
    Floor in building: {% if room.floor %} {{ room.floor }} {% else %} Pit {% endif %} | 
    Average Rating: <span class="star-rating" style="--rating: {{ room.avg_rating }};"></span> ({{ room.avg_rating }}) |
    <b href="/review?building={{room.building.name}}&floor={{room.floor}}&room={{room.number}}">Review this room</b> 
</h6>


<div class="main-container">
<div class="room-reviews"> 
<fieldset>
<legend><h2>Reviews</h2></legend>
{% if review_list %}
    {% for review in review_list %}
        <fieldset>
            <h4>Posted on {{ review.created_time.date }} at {{ review.created_time.time }}</h4>
            <div> <span class="star-rating" style="--rating: {{ review.rating }};"></span> </div>       
            <fieldset>
                <legend><strong>Comments</strong></legend>
                {{ review.text }}
            </fieldset>
        </fieldset>
        <br>
    {% endfor %}
{% else %}
    <h3>No reviews to display</h3>
    <a href="/review?building={{room.building.name}}&floor={{room.floor}}&room={{room.number}}">Be the first</a>
{% endif %}
</fieldset>
</div>
<br>
<div class="room-images">
<fieldset>
    <legend><h2>Images</h2></legend>
    {% if image_list %}
        {% for image in image_list %}
            <img src="{{ image.image_url.url }}" alt="Review Image" width="200">
        {% endfor %}
    {% else %}
        <h3>No images to display</h3>
        <a href="/review?building={{room.building.name}}&floor={{room.floor}}&room={{room.number}}">Be the first to add photos of this room</a>
    {% endif %}
</fieldset>
</div></div>