{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GrinDorms Login</title>
    <link rel="stylesheet" href="{% static 'css/my-login.css' %}">
</head>

<body>

    <h1>Welcome to GrinDorms!</h1>

    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{ loginform.as_p }}

        <input type="submit" value="Log In">

        <br>

        <a href="{% url 'login:password_reset' %}" class="link-button">Forgot username/password?</a>
        <br>
        <a href="{% url 'login:register' %}" class="link-button">Don't have an account? Sign up here!</a>
    </form>

</body>

</html>